<!DOCTYPE html>
<html lang="en">

<head>
    <title>Portfolio</title>
    <!-- BM Chaneg the path to the css files -->
    <link rel="stylesheet" href="../../css/bootstrap.min.css"/>
    <link href="../../stylesheets/navbar.css" rel="stylesheet">

</head>

<body class="position-relative" data-bs-spy="scroll">
<%- include('./partials/navbar.ejs') %>

<section class="d-flex align-items-center mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search memes" id="searchInput">
                    <div class="input-group-append">
                        <button class="btn btn-primary" id="searchButton">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <table class="table" id="table">
        <thead>
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Options</th>
        </tr>
        </thead>
        <tbody>
        <% memes.forEach(function (meme) { %>
            <tr>
                <td>
                    <img style="width: 20%" src="<%= meme.url %>" alt="meme image">
                </td>
                <td>
                    <%= meme.name %>
                </td>
                <td>
                    <form action="/meme" method="POST">
                        <input type="hidden" name="id" value="<%= meme.id %>"/>
                        <button type="submit" class="btn btn-primary">Details</button>
                    </form>
                </td>
            </tr>
        <% }); %>
        </tbody>
    </table>
</section>
<%- include('./partials/scripts.ejs') %>

<script>
    $(document).ready(function () {
        let table = $("#table tbody");
        let searchInput = $("#searchInput");
        let searchButton = $("#searchButton");

        searchButton.click(function () {
            let searchValue = searchInput.val().toLowerCase();
            table.find("tr").hide();
            table.find("tr").filter(function () {
                let name = $(this).find("td:nth-child(2)").text().toLowerCase();
                return name.indexOf(searchValue) > -1;
            }).show();
        });

        searchInput.on("input", function () {
            if (!searchInput.val()) {
                table.find("tr").show();
            }
        });
    });
</script>

</body>
</html>

