<!DOCTYPE html>
<html lang="en">
<head>
    <title>Meme Details Page</title>
    <%- include('./partials/head.ejs') %>
</head>

<body class="position-relative mt-3" data-bs-spy="scroll">
<%- include('./partials/navbar.ejs') %>

<section class="container">
    <table class="table table-bordered" id="table">
        <thead class="table-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Size</th>
            <th scope="col">Image</th>
        </tr>
        </thead>
        <% if (meme) { %>
        <tbody>
        <tr>
            <th scope="row"><%= meme.id %></th>
            <td><%= meme.name %></td>
            <td><%= meme.width + 'x' + meme.height %></td>
            <td>
                <img
                        height="<%= meme.height %>"
                        width="<%= meme.width %>"
                        src="<%= meme.url %>"
                        alt="Meme comic"
                />
            </td>
        </tr>
        <% } %>
        </tbody>
    </table>
</section>
<!-- Include scripts partial -->
<%- include('./partials/scripts.ejs') %>
</body>
</html>
